.Prediction {
    flex: 2;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    border-radius: 18px;
    padding: 25px;
    color: Black;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

.Prediction:hover {
    transform: translateY(-5px);
}

.Prediction h1 {
    font-size: 22px;
    margin-bottom: 15px;
}
